<% include header.ejs %>
  <div id="course-id" style="display:none"><%= course.id%></div>
  <div id="scope" style="display:none"><%= scope%></div>
  <div class="helper-bar">
    <div class = "col-md-6" style="padding-left: 0;">
      <ol class="breadcrumb" style="background-color: white">
      <li><a href="/admin/courses">课程管理</a></li>
      <li class="active"><%=course.name%>(<%=course.id%>)</li>
      </ol>
    </div>
    <div class="pull-right">
      <form class="form-inline">
      <% var thisyear = (new Date()).getFullYear() %>
      <select class="profit-select form-control profit-year">
        <option value="<%=thisyear%>"><%=thisyear%></option>
        <option value="<%=thisyear-1%>"><%=thisyear-1%></option>
        <option value="<%=thisyear-2%>"><%=thisyear-2%></option>
      </select>
      <span>季度</span>
      <select class="profit-select form-control  profit-quarter">
        <option value="65535">全部</option>
        <option value="0">第一季度</option>
        <option value="1">第二季度</option>
        <option value="2">第三季度</option>
        <option value="3">第四季度</option>
      </select>
      <span>季度</span>
      <span>科目盈利</span>
      <strong>
      ￥
      <span class="profit-sum">-</span>
      </strong>
      </form>
    </div>
  </div>
    <div class="col-md-9" style="padding-left: 0">
      <div class="col-md-9" style="padding-left: 0">
        <ul class="nav nav-tabs">
          <li role="presentation" <% if (scope=='preregister'){%>class="active"<%}%>>
            <a href="?course=<%=course.id%>&scope=preregister">即将报名</a>
          </li>
          <li role="presentation" <% if (scope=='register'){%>class="active"<%}%>>
            <a href="?course=<%=course.id%>&scope=register">正在报名</a>
          </li>
          <li role="presentation" <% if (scope=='inclass'){%>class="active"<%}%>>
            <a href="?course=<%=course.id%>&scope=inclass">正在上课</a>
          </li>
          <li role="presentation" <% if (scope=='end'){%>class="active"<%}%>>
            <a href="?course=<%=course.id%>&scope=end">结束</a>
          </li>
          <li role="presentation" <% if (scope=='canceled'){%>class="active"<%}%>>
            <a href="?course=<%=course.id%>&scope=canceled">取消</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-right" style="padding-right:0">
        <a type="submit" class="btn btn-success" href="/admin/classes/new?course=<%=course.id%>">新增班级</a>
      </div>
      <div>
      <table class="table table-striped">
        <tr>
          <th>班级编号</th>
          <th>班级名称</th>
          <th>授课主人</th>
          <% if (scope == 'preregister'){%>
          <th>报名日期</th>
          <% } else {%>
          <th>上课日期</th>
          <th>上课时间</th>
          <% } %>
          <th width="30%">地点</th>
          <th>学费</th>
          <%if (scope != 'canceled'){%>
          <th><% if (scope != 'preregister'){%>报名<%}%>人数</th>
          <th width="50">操作</th>
          <%}%>
        </tr>
        <% for(var i=0; i<classes.length; i++) {%>
        <tr data-id="<%=classes[i].id%>" data-name="<%=classes[i].name%>">
          <td><a href="/admin/orders?clas=<%=classes[i].id%>"><%=classes[i].id%></a></td>
          <td><%=classes[i].name%></td>
          <td><% if(classes[i].teacher){%><%=classes[i].teacher.name%><%}else{%>无<%}%></td>
          <% if (scope == 'preregister'){%>
          <td><%=classes[i].registerDate%></td>
          <% } else {%>
          <% var dates = splitClassDates(classes[i].classDates) %>
          <td><%= dates[0].substr(0,10)%> ~ <%= dates[dates.length-1].substr(0,10)%></td>
          <td><%=classes[i].beginTime%> ~ <%=classes[i].endTime%></td>
          <% } %>
          <td><%=classes[i].address%></td>
          <td><%=classes[i].tuition%></td>
          <%if (scope != 'canceled'){%>
          <% if (scope == 'preregister'){%>
          <td><%=classes[i].minStudentsNumber%>~<%=classes[i].maxStudentsNumber%></td>
          <% } else {%>
          <% var currentStudentsNumber = countPaidOrders(classes[i].Orders) %>
          <td><%=currentStudentsNumber%>/<%=classes[i].maxStudentsNumber%></td>
          <% } %>
          <td>
            <% if (scope == "preregister" || scope == "register" || scope == "inclass" ) {%>
            <a class="edit-action" href="/admin/classes/edit?id=<%=classes[i].id%>">编辑</a><br>
            <% } %>
            <% if (scope == "preregister"){%>
            <a class="text-danger delete-action" data-url="/admin/classes/delete" data-id="<%=classes[i].id%>" href="javacript:void">删除</a>
            <% } %>
            <% if (
              (scope == "register" 
              && currentStudentsNumber<classes[i].minStudentsNumber 
              && compareDateWithToday(getDate(dates[0]))<3)
              || (scope == "inclass"
              && currentStudentsNumber<5
              && compareDateWithToday(getDate(dates[0]))<0
              && compareDateWithToday(getDate(dates[0]))>-1)
              ){
            %>
            <a class="combine-action" href="javascript:void" data-id="<%=classes[i].id%>">合班</a><br>
            <a class="text-danger cancel-action" data-id="<%=classes[i].id%>" href="javacript:void">取消</a>
            <% } %>
          </td>
          <%}%>
        </tr>
        <% } %>
      </table>
      <% include pagination.ejs %>
      </div>
    </div>
    <div class="col-md-3" style="padding-right: 0">
      <div class="course-desc">
        <div class="title">课程简介</div>
        <div class="info">
          <h5>类型</h5>
          <pre><%=course.category.name%></pre>
        </div>
        <div class="info">
          <h5>简介</h5>
          <pre><%=course.description%></pre>
        </div>
        <div class="info">
          <h5>授课主人</h5>
          <div>
            <% for (var id in course.teachers) {%>
            <div style="margin-bottom: 5px;">
              <div class="teacher-avatar" style="background: url(<%=course.teachers[id].avatar%>); background-size: cover; display: inline-block"></div>
              <div class="teacher-name" style="display: inline-block"><%=course.teachers[id].name%></div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
<div class="modal fade" id="class-combine-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">合并班级</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" method="POST" > 
        <div class="form-group">
            <label class="col-xs-2 control-label">将</label>
            <div class="col-xs-10">
            <input class="form-control" id="combine-class-src" value="" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-2 control-label">合并到</label>
            <div class="col-xs-10" class="col-xs-8">
              <select id="combine-class-dest" class="form-control">
                <% for(var i=0; i<classes.length; i++) {%>
                  <option value="<%=classes[i].id%>"><%=classes[i].name%></option>
                <% }%>
              </select>
            </div>
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="class-combine-submit">确定</button>
      </div>
    </div>
  </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="class-confirm-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel2">确认修改班级信息</h4>
      </div>
      <div class="modal-body">
        <span>请线下与该班级所有学生确认班级信息修改，如已确认请输入"EDIT"</span><br>
        <input class="form-control" id="class-confirm-edit" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="class-confirm-submit">确定</button>
      </div>
    </div>
  </div>
</div>
<% include footer.ejs %>