<% include header.ejs %>
  <div class="helper-bar">
    <div>
      <ol class="breadcrumb">
      <li><a href="/admin/courses">课程管理</a></li>
      <li class="active"><%=course.name%>(<%=course.id%>)</li>
      </ol>
    </div>
  </div>
    <div class="col-md-9" style="padding-left: 0">
      <div class="col-md-9" style="padding-left: 0">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">全部</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-right" style="padding-right:0">
        <a type="submit" class="btn btn-success" href="/admin/classes/new?course=<%=course.id%>">新增班级</a>
      </div>
      <div>
      <table class="table table-striped">
        <tr>
          <th>班级编号</th>
          <th>班级名称</th>
          <th>授课主人</th>
          <th>报名日期</th>
          <th>地点</th>
          <th>学费</th>
          <th>人数</th>
          <th>操作</th>
        </tr>
        <% for(var i=0; i<classes.rows.length; i++) {%>
        <tr>
          <td><%=classes.rows[i].id%></td>
          <td><%=classes.rows[i].name%></td>
          <td><% if(classes.rows[i].teacher){%><%=classes.rows[i].teacher.name%><%}else{%>无<%}%></td>
          <td><%=classes.rows[i].registerDate%></td>
          <td><%=classes.rows[i].address%></td>
          <td><%=classes.rows[i].tuition%></td>
          <td><%=classes.rows[i].minStudentsNumber%>~<%=classes.rows[i].maxStudentsNumber%></td>
          <td>
            <a href="/admin/classes/edit?id=<%=classes.rows[i].id%>">编辑</a><br>
            <a class="text-danger delete-action" data-url="/admin/classes/delete" data-id="<%=classes.rows[i].id%>" href="javacript:void">删除</a>
          </td>
        </tr>
        <% } %>
      </table>
      <% include pagination.ejs %>
      </div>
    </div>
    <div class="col-md-3" style="padding-right: 0">
      <div class="course-desc">
        <div class="title">课程简介</div>
        <div class="info">
          <h5>类型</h5>
          <span><%=course.category.name%></span>
        </div>
        <div class="info">
          <h5>简介</h5>
          <span><%=course.description%></span>
        </div>
        <div class="info">
          <h5>授课主人</h5>
          <div>
            <% for (var id in course.teachers) {%>
            <div style="margin-bottom: 5px;">
              <div class="teacher-avatar" style="background: url(<%=course.teachers[id].avatar%>); background-size: cover; display: inline-block"></div>
              <div class="teacher-name" style="display: inline-block"><%=course.teachers[id].name%></div>
            </div>
            <%}%>
          </div>
        </div>
      </div>
    </div>
<% include footer.ejs %>