<% include header.ejs %>
  <div class="helper-bar">
    <div class="pull-left search">
      <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="请输入课程名查询" value='<%=search%>'>
      </div>
      <button type="submit" class="btn btn-primary">查询</button>
      </form>
    </div>
    <div class="pull-right new">
      <a type="submit" class="btn btn-success" href="/admin/courses/new">新增</a>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <tr><th>课程编号</th><th>课程名称</th><th>课程分类</th><th>授课主人</th><th>课程简介</th><th>总盈利</th><th>操作</th></tr>
      <% for(var i=0; i<courses.rows.length; i++) {%>
      <tr>
        <td><a href="/admin/classes?course=<%=courses.rows[i].id%>"><%=courses.rows[i].id%></a></td>
        <td><%=courses.rows[i].name%></td>
        <td><%=courses.rows[i].category.name%></td>
        <td><%var teachers = '';
          for(var id in courses.rows[i].teachers){
            teachers += courses.rows[i].teachers[id].name + ',';
          }
          if(teachers.length > 0){
            teachers = teachers.substring(0,teachers.length-1);
          }
          %><%= teachers%></td>
        <td width="40%"><%=courses.rows[i].description%></td>
        <td class="profit-sum">-</td>
        <td>
          <a href="/admin/courses/edit?id=<%=courses.rows[i].id%>">编辑</a><br>
          <%if(courses.rows[i].Classes.length == 0){%>
          <a class="text-danger delete-action" data-url="/admin/courses/delete" data-id="<%=courses.rows[i].id%>" href="javacript:void">删除</a>
          <%}%>
        </td>
      </tr>
      <% } %>
    </table>
    <% include pagination.ejs%>
  </div>
<% include footer.ejs %>