<% include header.ejs %>
  <div class="hidden" id="teacher-id"><%=teacher.id%></div>
  <div class="helper-bar">
    <div class = "col-md-6" style="padding-left: 0;">
    <ol class="breadcrumb background-color: white">
      <li><a href="/admin/teachers">讲师管理</a></li>
      <li class="active"><%=teacher.name%> 详情</li>
    </ol>
    </div>
    <div class="pull-right">
      <form class="form-inline">
      <% var thisyear = (new Date()).getFullYear() %>
      <select class="profit-select form-control profit-year">
        <option value="<%=thisyear%>"><%=thisyear%></option>
        <option value="<%=thisyear-1%>"><%=thisyear-1%></option>
        <option value="<%=thisyear-2%>"><%=thisyear-2%></option>
      </select>
      <span>季度</span>
      <select class="profit-select form-control  profit-quarter">
        <option value="65535">全部</option>
        <option value="0">第一季度</option>
        <option value="1">第二季度</option>
        <option value="2">第三季度</option>
        <option value="3">第四季度</option>
      </select>
      <span>季度</span>
      <span>讲师盈利</span>
      <strong style="width: 80px; display:inline-block; text-align: right">
      <span>￥</span>
      <span class="profit-sum">-</span>
      </strong>
      </form>
    </div>
  </div>
  <div class="col-md-9" style="padding-left: 0">
    <table class="table table-striped">
      <tr><th>活动编号</th><th width="100">活动名称</th><th width="150">活动分类</th><th>活动简介</tr>
      <% for(var courseid in courses) {%>
      <tr>
        <td><a href="/admin/classes?course=<%=courses[courseid].id%>"><%=courses[courseid].id%></a></td>
        <td><%=courses[courseid].name%></td>
        <td><%=courses[courseid].category.name%></td>
        <td><%=courses[courseid].description%></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="col-md-3" style="padding-right: 0">
    <div class="teacher-desc">
      <div class="title">讲师介绍</div>
      <div class="info">
        <h5>头像</h5>
        <div class="teacher-avatar" style="background: url(<%=teacher.avatar%>); background-size: cover">
        </div>
      </div>
      <div class="info">
        <h5>类型</h5>
        <% var cate = ""%>
        <% for(var c in categories) cate += c + "," %>
        <pre><%= cate.substr(0, cate.length-1)%></pre>
      </div>
      <div class="info">
        <h5>简介</h5>
        <pre><%=teacher.description%></pre>
      </div>
    </div>
  </div>
<% include footer.ejs %>