<% include header.ejs %>
  <div class="helper-bar">
    <div class="pull-left search">
      <form class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control" name="search" placeholder="输入主人名称或编号" value='<%=search%>'>
      </div>
      <button type="submit" class="btn btn-primary">查询</button>
      </form>
    </div>
    <div class="pull-right new">
      <a type="submit" class="btn btn-success" href="/admin/teachers/new">新增主人</a>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <tr><th>主人编号</th><th>主人名称</th><th>主人头像</th><th>主人分类</th><th>主人简介</th><th>总盈利</th><th>操作</th></tr>
      <% for(var i=0; i<teachers.rows.length; i++) {%>
      <tr>
        <td><a href="/admin/teachers/detail?id=<%=teachers.rows[i].id%>"><%=teachers.rows[i].id%></a></td>
        <td><%=teachers.rows[i].name%></td>
        <td><% if(teachers.rows[i].avatar != ''){%><a class="image-popover" href="javascript:void" data-href="<%=teachers.rows[i].avatar%>">查看</a><% } %></td>
        <td width=100>
          <%
            var categories = {};
            for(var j=0; j<teachers.rows[i].Classes.length; j++) {
              console.log(JSON.stringify(teachers.rows[i].Classes[j]));
              if(teachers.rows[i].Classes[j].course){
                categories[teachers.rows[i].Classes[j].course.name] = true;
                categories[teachers.rows[i].Classes[j].course.category.name] = true;
              }
            }
          %>
          <% var str = ''; 
            for(var cate in categories) { 
              str += cate + ',';
            }
            if (str.length > 0){
              str = str.substring(0, str.length-1)
            }
          %>
          <%= str%>
        </td>
        <td width="40%"><%=teachers.rows[i].description%></td>
        <td>暂无</td>
        <td>
          <a href="/admin/teachers/edit?id=<%=teachers.rows[i].id%>">编辑</a><br>
          <% if(teachers.rows[i].Classes.length == 0){%>
          <a class="text-danger delete-action" data-url="/admin/teachers/delete" data-id="<%=teachers.rows[i].id%>" href="javascript:void">删除</a>
          <% } %>
        </td>
      </tr>
      <% } %>
    </table>
    <% include pagination.ejs%>
  </div>
<% include footer.ejs %>