<% include header.ejs %>
  <div class="hidden" id="user-id"><%=user.id%></div>
  <div class="helper-bar">
    <div class = "col-md-6" style="padding-left: 0;">
    <ol class="breadcrumb" style="padding-left: 0;">
      <li><a href="/admin/users">萌宠管理</a></li>
      <li class="active"><%=user.name%>（<%=user.username%>）</li>
    </ol>
    </div>
    <div class="pull-right">
      <form class="form-inline">
      <% var thisyear = (new Date()).getFullYear() %>
      <select class="profit-select form-control profit-year">
        <option value="<%=thisyear%>"><%=thisyear%></option>
        <option value="<%=thisyear-1%>"><%=thisyear-1%></option>
        <option value="<%=thisyear-2%>"><%=thisyear-2%></option>
      </select>
      <span>季度</span>
      <select class="profit-select form-control  profit-quarter">
        <option value="65535">全部</option>
        <option value="0">第一季度</option>
        <option value="1">第二季度</option>
        <option value="2">第三季度</option>
        <option value="3">第四季度</option>
      </select>
      <span>季度</span>
      <span>萌宠购课</span>
      <strong style="width: 80px; display:inline-block; text-align: right">
      <span>￥</span>
      <span class="profit-sum">-</span>
      </strong>
      </form>
    </div>
  </div>
  <div class="col-md-9" style="padding-left: 0">
    <table class="table table-striped">
      <tr><th>课程编号</th><th>课程名称</th><th>课程分类</th><th>主人编号</th><th>主人名称</th><th>班级编号</th><th>班级名称</th><th>学费</th><th>购课日期</th></tr>
      <% for(var i=0; i<orders.length; i++) {%>
      <tr>
        <td><a href="/admin/classes?course=<%=orders[i].class.course.id%>"><%=orders[i].class.course.id%></a></td>
        <td><%=orders[i].class.course.name%></td>
        <td><%=orders[i].class.course.category.name%></td>
        <td><a href="/admin/teachers/detail?id=<%=orders[i].class.teacher.id%>"><%=orders[i].class.teacher.id%></a></td>
        <td><%=orders[i].class.teacher.name%></td>
        <td><a href="/admin/orders?clas=<%=orders[i].class.id%>"><%=orders[i].class.id%></a></td>
        <td><%=orders[i].class.name%></td>
        <td><%=orders[i].tuition%></td>
        <td><%=formatDate(orders[i].updatedAt)%></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="col-md-3" style="padding-right: 0">
    <div class="teacher-desc">
      <div class="title">萌宠详情</div>
      <div class="info">
        <h5>头像</h5>
        <div class="teacher-avatar" style="background: url(<%=user.avatar%>); background-size: cover">
        </div>
      </div>
      <div class="info">
        <h5>联系电话</h5>
        <span><%=user.username%></span>
      </div>
      <div class="info">
        <h5>紧急联系电话</h5>
        <span><%=user.emergencyPhone%></span>
      </div>
      <div class="info">
        <h5>住址</h5>
        <span><%=user.address%></span>
      </div>
      <div class="info">
        <h5>常用邮箱</h5>
        <span><%=user.email%></span>
      </div>
      <div class="info">
        <h5>生日</h5>
        <span><%=user.birthday%></span>
      </div>
      <div class="info">
        <h5>学校</h5>
        <span><%=user.school%></span>
      </div>
      <div class="info">
        <h5>年级</h5>
        <span><%=user.grade%></span>
      </div>
    </div>
  </div>
<% include footer.ejs %>