<% include ./header.ejs %>
<div class="header-panel">
    <header class="header">
        <h1>活动详情</h1>

    </header>
</div>
<div class="activity-details-banner">
    <img src="<%= course.avatar %>" alt=""/>
</div>
<div class="content course-detail-ct">
    <div class="teacher-class-panel">
        <div class="m-line">
            <h1><%= course.name %></h1>
            <span class="tag-shiting">试听</span>
        </div>
        <div class="org"><%= course.category.manager.org %></div>
        <pre class="des-box"><%= course.description %></pre>
    </div>

    <div class="huodongchangci">
        <h3 class="title">活动场次</h3>
        <% for(var i = 0; i < course.Classes.length;i++){

            var item = course.Classes[i];
            var classStatus = getClassStatus(item);
        if( classStatus == 'register' || classStatus == 'preregister' || ((classStatus == 'inclass' || classStatus == 'end') && (item.showInFrontEnd == true))){
        %>
        <div class="content">
            <div class="list-item-title">村上春树讲课</div>

            <div class="list-item"><label>讲师：</label><%= item.teacher.name %></div>
            <%
                var dateClass = item.classDates.split(',');
                var formatDate = function(dateArg){
                    return dateArg.substr(0,4)+'.'+dateArg.substr(4,2)+'.'+dateArg.substr(6,2);
                }
                var start = formatDate(dateClass[0]);
                var end = formatDate(dateClass[dateClass.length-1]);
              %>
            <div class="list-item"><label>日期：</label><%= start %>-<%= end %></div>
            <div class="list-item"><label>时间：</label><%= item.beginTime %>-<%= item.endTime %></div>
            <div class="list-item"><label>地址：</label><%= item.address %></div>
            <% if (classStatus == 'register'){ %>
            <% if(item.inCart){ %>
            <span class="add-btn btn-buy in-cart" data-id="<%= item.id %>">已加入购课车</span>
            <% } else if(item.isPaid) { %>
            <span class="add-btn btn-buy is-paid" data-id="<%= item.id %>"><%= item.tips %></span>
            <% } else { %>
            <span class="add-btn btn-buy" data-id="<%= item.id %>">加入购课车</span>
            <% } %>
            <% } else { %>
            <span class="add-btn btn-buy invalid" data-id="<%= item.id %>">无法购买</span>
            <% } %>

        </div>
        <%
        }}
        %>

    </div>

</div>
<script src="/js/classes.js"></script>
<% include footer.ejs %>
<% var activeMenu = 'activity' %>
<% include menu.ejs %>