<% include header.ejs %>
    <div class="header-panel">
        <header class="header">
            <h1><%=course.name%></h1>
            <div class="de-avatar"><img src="<% if (user && user.avatar) {%><%=user.avatar%><%}else{%>../img/de-avatar.png<%}%>" alt="avatar" /></div>
        </header>
    </div>
    <div class="content course-detail-ct">
        <div class="teacher-class-panel">
            <div class="m-line">
                <div class="name-box">
                    <span class="tag-box <%=pickLabelColor(course.category.id)%>-tag"><%=course.category.name%></span>
                    <span class="name"><%=course.name%></span>
                </div>
            </div>
            <pre class="des-box"><%=course.description%></pre>
        </div>
        <h3 class="title">开设班级</h3>
        <% var classes = course.Classes %>
        <% for (var i=0; i<classes.length; i++) { %>
        <% var classStatus = getClassStatus(classes[i]) %>
        <% if( classStatus == 'register' || classStatus == 'preregister'){ %>
        <div class="teacher-class-panel course-panel">
            <div class="m-line">
                <div class="name-box">
                    <span class="name"><%=classes[i].name%>
                        <% var registerDateStr = classes[i].registerDate + '' %>
                        <%if(classStatus == 'preregister'){%><span class="orange-tips">（<%=registerDateStr.substr(4,2) + '.' + registerDateStr.substr(6,2) %>开始报名）</span><%}%>
                    </span>
                </div>
                <div class="price-box">
                    <span class="price"><i>￥</i><%=classes[i].tuition%></span>
                    <span>/<%=classes[i].period%>课时</span>
                </div>
            </div>
            <div class="course-box">
                <div class="f-b">教师：</div>
                <div class="s-b"><%=classes[i].teacher.name%></div>
            </div>
            <% var currentStudentsNumber = countPaidOrders(classes[i].Orders) %>
            <% var availableStudentsNumber = classes[i].maxStudentsNumber - currentStudentsNumber %>
            <% if(availableStudentsNumber <=5){%>
            <div class="course-box">
                <div class="f-b">人数：</div>
                <div class="s-b"><%=currentStudentsNumber%>/<%=classes[i].maxStudentsNumber%></div>
                <% if(availableStudentsNumber <=5 && availableStudentsNumber > 0) { %>
                <div class="t-b notice-box">仅剩<%=availableStudentsNumber%>席</div>
                <% } else if (availableStudentsNumber == 0) {%>
                <div class="t-b notice-box">人数已满</div>
                <% } %>
            </div>
            <%}%>
            <% var dates = splitClassDates(classes[i].classDates) %>
            <div class="course-box justify-box">
                <div class="f-b">
                    <div class="course-box">
                        <div class="f-b">日期：</div>
                        <div class="s-b"><%= dates[0].substr(0,10)%> ~ <%= dates[dates.length-1].substr(0,10)%></div>
                    </div>
                </div>
                <div class="s-b orange-btn show-detail-btn">具体日期</div>
            </div>
            <div class="course-time-box hidden">
                <h3 class="time-title">具体上课日期:</h3>
                <ul class="clearfix">
                    <% for(var j=0; j<dates.length; j++){ %><% if(!(j%2)) {%><li><%}%><%= dates[j]%> <% if((j%2)) {%></li><%}%> <% } %>
                </ul>
            </div>
            <div class="course-box">
                <div class="f-b">时间：</div>
                <div class="s-b"><%=classes[i].beginTime%> ~ <%=classes[i].endTime%></div>
                <!--
                <div class="t-b notice-box">与现有课程冲突</div>
                -->
            </div>
            <div class="course-box  break-box">
                <div class="f-b">地址：</div>
                <div class="s-b flex-b"><%=classes[i].address%></div>
            </div>
            <div class="course-bt-btns">
                <% if(classes[i].inCart){ %>
                <span class="add-btn in-cart" data-id="<%=classes[i].id%>">已加入购课车</span>
                <%} else if(classes[i].isPaid) {%>
                <span class="add-btn is-paid" data-id="<%=classes[i].id%>"><%=classes[i].tips%></span>
                <% } else {%>
                <span class="add-btn" data-id="<%=classes[i].id%>">加入购课车</span>
                <% } %>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    <div class="content course-detail-ct">
        <h3 class="title">教师简介</h3>
        <% for (var id in teachers) { %>
        <div class="teacher-panel anchor" data-href="/teachers/detail?id=<%=id%>">
            <div class="m-line">
                <div class="avatar">
                    <% if(teachers[id].avatar == ''){ %>
                    <img src="../img/teacher-avatar.png" alt="avatar">
                    <% } else {%>
                    <img src="<%=teachers[id].avatar%>" alt="avatar">
                    <% } %>
                </div>
                <div class="name ellipsis"><%=teachers[id].name%></div>
                <div class="tags">
                    <% for (var cat in teachers[id].categories) { %>
                    <span class="tag-box <%=pickLabelColor(cat)%>-tag"><%=teachers[id].categories[cat].name%></span>
                    <% } %>
                </div>
            </div>
            <p class="des-box ellipsis-two"><%=teachers[id].description%></p>
        </div>
        <% } %>
    </div>
    <script src="/js/classes.js"></script>
<% include footer.ejs %>