<% include header.ejs %>

<div class="header-panel">
    <header class="header">
        <div class="filter-box downmenu" data-downmenu="downmenu-region"><%= name %></div>
        <div class="search-box">
            <div class="search-explain">搜索</div>
            <form id="search-form" action="">
                <input type="search" name="search">
            </form>
        </div>
        <!--<div class="de-avatar">
            <img src="<% if (user && user.avatar) { %> <%= user.avatar %> <% }else{ %>../img/de-avatar.png<% } %>" alt="avatar" />
        </div>-->
        <div class="cancel-btn">取消</div>
    </header>
</div>
<div class="box-filter">
    <ul>
        <li class="downmenu" data-downmenu="downmenu-type">全类型</li>
        <li class="line downmenu" data-downmenu="downmenu-interval">全时段</li>
        <li class="line downmenu" data-downmenu="downmenu-org">机构</li>
        <li class="line downmenu" data-downmenu="downmenu-price">全价位</li>
        <div class="clearfix"></div>
    </ul>
</div>
<% if (search != '') { %>
<div class="content teachers-ct search-num-ct">
    关键词“<%= search %>”共搜到<%= count %>个活动
</div>
<% } %>
<div class="content teachers-ct">
    <div>
        <% var group = 'A' %>
        <% for(var i = 0; i < courses.length; i++){ %>
        <% if(pinyin[i][0] != group){ group = pinyin[i][0] %>
        <% if (search == '') { %>
        <div class="sort-name"><%= group %></div>
        <% } %>
        <% } %>
        <div class="teacher-panel course-panel" data-href="/classes?course=<%= courses[i].id %>">
            <div class="m-line">
                <div class="name-box">
                    <span class="tag-box <%= pickLabelColor(courses[i].category.id) %>-tag"><%= courses[i].category.name %></span>
                    <span class="name"><%= courses[i].name %></span>
                </div>
                <div class="price-box">
                    <% var minTuition;
                        for (var j = 0; j < courses[i].Classes.length; j++) {
                            if (j == 0 || courses[i].Classes[j].tuition < minTuition) {
                                minTuition = courses[i].Classes[j].tuition;
                            }
                        }
                    %>
                    <% if (minTuition){ %>
                    <span class="price"><i>￥</i><%= minTuition %></span>
                    <span>起</span>
                    <% } %>
                </div>
            </div>
            <p class="des-box ellipsis-two"><%= courses[i].description %></p>
        </div>
        <div class="teacher-panel course-panel" data-href="/classes?course=<%= courses[i].id %>">
            <div class="m-line">
                <div class="name-box">
                    <img src="img/teacher-demo.jpg" alt="" class=""/>

                    <div class="profile">
                        <span class="shiting">试听</span>

                        <h3>诺贝尔获奖得者教你学英语 </h3>

                        <p class="date">2016.06.16-06.25</p>

                        <div class="right">
                            <span class="price">￥<span class="num">2458</span></span>
                            <span>起</span>
                        </div>
                        <p class="com">新东方(北京)</p>
                        <!-- <span class="tag-box <%= pickLabelColor(courses[i].category.id) %>-tag"><%= courses[i].category.name %></span>
                            <span class="name"><%= courses[i].name %></span>-->
                    </div>
                </div>
                <!--<div class="price-box">
                        <% var minTuition;
                    for (var j = 0; j < courses[i].Classes.length; j++) {
                        if (j == 0 || courses[i].Classes[j].tuition < minTuition) {
                            minTuition = courses[i].Classes[j].tuition;
                        }
                    }
                %>
                        <% if (minTuition){ %>
                        <span class="price"><i>￥</i><%= minTuition %></span>
                        <span>起</span>
                        <% } %>
                    </div>-->
            </div>
            <p class="des-box ellipsis-two">本站部分赏析内容来自网络或网友提供，旨在弘扬中华文化，仅
                用于学习交流，部分未署名皆因原作者无法考证。</p>
        </div>
        <% } %>
    </div>
</div>
<div class="mask hidden"></div>
<form id="category-form">
    <div class="teacher-select-panel hidden downmenu-region">
        <input type="hidden" name="region" id="filter-region">
        <ul id="region-filter">
            <li data-id="">全国</li>
            <% for (var i = 0; i < categories.length; i++){ %>
            <li data-id="<%= categories[i].id %>"><%= categories[i].name %></li>
            <% } %>
        </ul>
    </div>
    <div class="teacher-select-panel hidden downmenu-type">
        <input type="hidden" name="type" id="filter-type">
        <ul id="type-filter">
            <li data-id="">全类型</li>
            <li data-id="小升初">小升初</li>
            <li data-id="初一">初一</li>
            <li data-id="初二">初二</li>
            <li data-id="中考">中考</li>
            <li data-id="高一">高一</li>
            <li data-id="高二">高二</li>
            <li data-id="高考">高考</li>

            <% for (var i = 0; i < categories.length; i++){ %>
            <li data-id="<%= categories[i].id %>"><%= categories[i].name %></li>
            <% } %>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-interval hidden">
        <input type="hidden" name="interval" id="filter-interval">
        <ul id="interval-filter">
            <li data-id="">全时段</li>
            <li data-id="今天">今天</li>
            <li data-id="明天">明天</li>
            <li data-id="最近一周">最近一周</li>
            <li data-id="最近一月">最近一月</li>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-org hidden">
        <input type="hidden" name="org" id="filter-org">
        <ul id="org-filter">
            <li data-id="">机构</li>
            <% for (var i = 0; i < categories.length; i++){ %>
            <li data-id="<%= categories[i].id %>"><%= categories[i].name %></li>
            <% } %>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-price hidden">
        <input type="hidden" name="price" id="filter-price">
        <ul id="price-filter">
            <li data-id="">全价位</li>
            <li data-id="0-500">0-500</li>
            <li data-id="500-1000">500-1000</li>
            <li data-id="1000-2000">1000-2000</li>
            <li data-id="2000-5000">2000-5000</li>
            <li data-id="5000-">5000+</li>

            <% for (var i = 0; i < categories.length; i++){ %>
            <li data-id="<%= categories[i].id %>"><%= categories[i].name %></li>
            <% } %>
        </ul>
    </div>

</form>
<div class="course-ex-panel hidden">
    <div class="close-btn"></div>
</div>
<script src="/thirdparty/cookie/cookie.min.js"></script>
<script src="/js/courses.js"></script>
<% include footer.ejs %>
<% var activeMenu = 'activity' %>
<% include menu.ejs %>