<% include header.ejs %>
    <div class="header-panel">
    <header class="header">
        <div class="filter-box"><%=name%></div>
        <div class="search-box">
            <div class="search-explain">请输入课程名字</div>
            <form id="search-form">
            <input type="search" name="search">
            </form>
        </div>
        <div class="de-avatar"><img src="<% if (user && user.avatar) {%>user.avatar<%}else{%>../img/de-avatar.png<%}%>" alt="avatar" /></div>
        <div class="cancel-btn">取消</div>
    </header>
    </div>
    <% if (search != '') { %>
    <div class="content teachers-ct search-num-ct">
        关键词“<%=search%>”共搜到<%=count%>个课程
    </div>
    <% } %>
    <div class="content teachers-ct">
        <div>
            <% var group = 'A' %>
            <% for(var i=0; i<courses.length; i++){ %>
            <% if(pinyin[i][0] != group){ group = pinyin[i][0] %>
            <% if (search == '') { %>
            <div class="sort-name"><%=group%></div>
            <% } %>
            <% }%>
            <div class="teacher-panel course-panel" data-href="/classes?course=<%=courses[i].id%>">
                <div class="m-line">
                    <div class="name-box">
                        <span class="tag-box <%=pickTagColor(courses[i].category.id)%>-tag"><%=courses[i].category.name%></span>
                        <span class="name"><%=courses[i].name%></span>
                    </div>
                    <div class="price-box">
                        <%  var minTuition; 
                            for(var j=0; j<courses[i].Classes.length; j++){
                                if(j == 0 || courses[i].Classes[j].tuition < minTuition) {
                                    minTuition = courses[i].Classes[j].tuition;
                                }
                            }
                        %>
                        <% if (minTuition){ %>
                        <span class="price"><i>￥</i><%=minTuition%></span>
                        <span>起</span>
                        <% } %>
                    </div>
                </div>
                <p class="des-box"><%=courses[i].description%></p>
            </div>
            <% } %>
        </div>
    </div>
    <div class="mask hidden"></div>
    <div class="teacher-select-panel hidden">
        <form id="category-form">
        <input type="hidden" name="category" id="category-id">
        <input type="hidden" name="name" id="category-name">
        <ul id="category-filter">
            <li data-id="">全部课程</li>
            <% for (var i=0; i<categories.length; i++){ %>
            <li data-id="<%=categories[i].id%>"><%=categories[i].name%></li>
            <% } %>
        </ul>
        </form>
    </div>
    <div class="course-ex-panel hidden">
        <div class="close-btn"></div>
    </div>
    <script src="/thirdparty/cookie/cookie.min.js"></script>
    <script src="/js/courses.js"></script>
<% include footer.ejs %>