<% include header.ejs %>

<div class="header-panel">
    <header class="header">
        <div class="filter-box downmenu" data-downmenu="downmenu-region"><%= query.region || '全国' %></div>
        <div class="search-box">
            <div class="search-explain">搜索</div>
            <form id="search-form" action="">
                <input type="search" name="search" value="<%= search||'' %>">
            </form>
        </div>

        <div class="cancel-btn">取消</div>
    </header>
</div>
<div class="box-filter">
    <ul>
        <%
        var type = query.type ? query.type : '全类型';
        var interval = (query.interval ? query.interval : '全时段');
        var org = (query.org ? query.org : '全机构');
        var price = (query.price ? query.price : '全价位');
        %>
        <li class="downmenu" data-downmenu="downmenu-type"><%= type %></li>
        <li class="line downmenu" data-downmenu="downmenu-interval"><%= interval %></li>
        <li class="line downmenu" data-downmenu="downmenu-org"><%= org %></li>
        <li class="line downmenu" data-downmenu="downmenu-price"><%= price %></li>
        <div class="clearfix"></div>
    </ul>
</div>
<% if (search != '' || courses.length == 0) { %>
<div class="content teachers-ct search-num-ct">
    关键词“<%= search %>”共搜到<%= count %>个活动
</div>
<% } %>
<div class="content teachers-ct">
    <div>

        <% var group = 'A' %>

        <% var minTuition;
        for (var i = 0;  i < courses.length; i++) { %>
        <div class="teacher-panel course-panel" data-href="/classes?course=<%= courses[i].id %>">
            <div class="m-line">
                <div class="name-box">
                    <div class="haibao-ctner">
                        <img src="<%= courses[i].avatar %>" alt="" class=""/>
                    </div>

                    <div class="profile">
                        <span class="shiting">试听</span>
                        <h3><%= courses[i].name %> </h3>
                        <p class="date">2016.05.03<%=    %>-<%=    %>06.09</p>
                        <div class="com">
                            <%= courses[i].manager.org %>
                            <div class="right">
                                <span class="price">￥<span class="num">3000<%=    %></span></span>
                                <span>起</span>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <p class="des-box ellipsis-two"><%= courses[i].description %></p>
        </div>
        <% } %>
    </div>
</div>
<div class="mask hidden"></div>
<form id="category-form">
    <div class="teacher-select-panel hidden downmenu-region">
        <input type="hidden" name="region" id="filter-region">
        <ul id="region-filter">
            <li data-id="">全国</li>
            <li data-id="北京">北京</li>
            <li data-id="上海">上海</li>
            <li data-id="广州">广州</li>
            <li data-id="深圳">深圳</li>

        </ul>
    </div>
    <div class="teacher-select-panel hidden downmenu-type">
        <input type="hidden" name="type" id="filter-type">
        <ul id="type-filter">
            <li data-id="">全类型</li>
            <% for (var i = 0; i < categories.length; i++){ %>
            <li data-id="<%= categories[i].id %>"><%= categories[i].name %></li>
            <% } %>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-interval hidden">
        <input type="hidden" name="interval" id="filter-interval">
        <ul id="interval-filter">
            <li data-id="">全时段</li>
            <li data-id="today">今天</li>
            <li data-id="tomorrow">明天</li>
            <li data-id="recentweek">最近一周</li>
            <li data-id="recentmonth">最近一月</li>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-org hidden">
        <input type="hidden" name="org" id="filter-org">
        <ul id="org-filter">
            <li data-id="">全机构</li>
            <% for (var i = 0; i < managers.length; i++){
            if(managers[i].org){
            %>
            <li data-id="<%= managers[i].id %>"><%= managers[i].org %></li>
            <%
            }
            } %>
        </ul>
    </div>
    <div class="teacher-select-panel downmenu-price hidden">
        <input type="hidden" name="price" id="filter-price">
        <ul id="price-filter">
            <li data-id="">全价位</li>
            <li data-id="0-500">0-500</li>
            <li data-id="500-1000">500-1000</li>
            <li data-id="1000-2000">1000-2000</li>
            <li data-id="2000-5000">2000-5000</li>
            <li data-id="5000-">5000+</li>


        </ul>
    </div>

</form>
<div class="course-ex-panel hidden">
    <div class="close-btn"></div>
</div>
<script src="/thirdparty/cookie/cookie.min.js"></script>
<script src="/js/courses.js"></script>
<% include footer.ejs %>
<% var activeMenu = 'activity' %>
<% include menu.ejs %>