<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<title><%=title%></title>
<link rel="stylesheet" href="../css/login.css">
<link rel="stylesheet" href="../css/teacher.css">
<script src="/thirdparty/zepto/zepto.min.js"></script>
</head>
<body class="<%=page%>-body">
  <div class="left-nav-ct hidden">
        <div class="user-panel">
            <div class="close-btn"></div>
            <% if (user) {%>
            <div class="space-d"></div>
            <div class="avatar-box">
                <img src="<% if (user.avartar) {%>user.avartar<%}else{%>../img/de-avatar.png<%}%>" alt="avatar" />
            </div>
            <h3 class="user-name"><%=user.name%></h3>
            <% } else {%>
            <div class="login-space"></div>
            <div class="login-panel">
                <a href="/login" class="login-btn nav-btns">登录</a>
                <a href="/register" class="register-btn nav-btns">注册</a>
            </div>
            <% }%>

        </div>
        <ul class="nav-list">
            <li <% if (page == 'course'){%>class="active"<%}%> >
                <div class="nav-title" data-href="/courses">课程导航</div>
            </li>
            <li <% if (page == 'teacher'){%>class="active"<%}%>>
                <div class="nav-title" data-href="/teachers">教师一览</div>
            </li>
            <!--
            <li>
                <div class="nav-title">购课车</div>
                <span class="course-num">8</span>
            </li>
            -->
            <li <% if (page == 'me'){%>class="active"<%}%>>
                <div class="nav-title" data-href="/me">我的帐号</div>
            </li>
            <li <% if (page == 'recommend'){%>class="active"<%}%>>
                <div class="nav-title" data-href="/recommend">推荐名片</div>
            </li>
        </ul>
        <div class="bot-box">
            <div class="phone-p ellipsis"><% if (user) {%><%=user.username%><%}%></div>
            <div class="wx-p ellipsis"><% if (user) {%><%=user.username%><%}%></div>
        </div>
    </div>
