<% include header.ejs %>
    <div class="header-panel">
        <header class="header">
            <h1>我的帐号</h1>
            <i class="de-avatar"><img src="<%if (user.avatar){%><%=user.avatar%><%}else{%>../img/de-avatar.png<%}%>" alt="avatar" /></i>
        </header>
    </div>
    <div class="content user-ct">
        <div class="user-center-box">
            <div class="left-box">
                <div class="avatar-pic">
                    <img src="<%if (user.avatar){%><%=user.avatar%><%}else{%>../img/de-avatar.png<%}%>" alt="avatar">
                </div>
                <div class="user-info">
                    <h3 class="ellipsis"><%=user.name%></h3>
                    <p class="ellipsis">手机号：<%=user.username%></p>
                </div>
            </div>
            <div class="right-box anchor" data-href="/me/edit"></div>
        </div>
        <div class="user-title"><i></i>我的听课证</div>
        <ul class="user-list">
            <li class="next-l anchor" data-href="/cards?scope=register">即将开课</li>
            <li class="next-l anchor" data-href="/cards?scope=inclass">正在上课</li>
            <li class="next-l anchor" data-href="/cards?scope=end">课程结束</li>
            <li class="next-l anchor" data-href="/cards?scope=canceled">课程取消</li>
        </ul>
        <!--
        <ul class="user-list">
            <li class="next-l">我的课程表</li>
        </ul>
        -->
        <ul class="user-list">
            <li class="flex-l">
                <div>紧急联系电话</div>
                <div><%=user.emergencyPhone%></div>
            </li>
            <li class="flex-l">
                <div>我的住址</div>
                <div><%=user.address%></div>
            </li>
            <li class="flex-l">
                <div>常用邮箱</div>
                <div><%=user.email%></div>
            </li>
            <li class="flex-l">
                <div>我的生日</div>
                <div><%=user.birthday%></div>
            </li>
            <li class="flex-l">
                <div>我的学校</div>
                <div><%=user.school%></div>
            </li>
            <li class="flex-l">
                <div>我的年纪</div>
                <div><%=user.grade%></div>
            </li>
            <li class="next-l anchor" data-href="/reset/phone">更改绑定手机</li>
            <li class="next-l anchor" data-href="/reset/step2">更改密码</li>
        </ul>
    </div>
    <script src="/js/me.js"></script>
<% include footer.ejs %>