<% include header.ejs %>
    <div class="header-panel">
        <header class="header">
            <h1>注册</h1>
        </header>
    </div>
    <div class="content register-ct">
        <div class="photo-btn" id="pickfiles">
            <%if (action == 'show' || form.avatar == '') {%>
            <div class="camera-box">
                <img src="../img/camera.png" alt="学术葩">
            </div>
            <%} else {%>
            <img src="<%=form.avatar%>">
            <% } %>
        </div>
        <p class="photo-tips">请上传属于自己的头像</p>
        <input type="hidden" id="qiniu-domain" value="<%=qiniuDomain%>">
        <form class="form-panel" id="register-form" method="POST" style="margin: 0 40px;">
            <input type="hidden" id="avatar-url" name="avatar" <%if (action == 'reform') {%>value="<%=form.avatar%>"<%}%>>
            <div class="input-panel">
                <div class="form-group">

                    <input required type="text" placeholder="手机号" name="username" id="user-phone" <%if (action == 'reform') {%>value="<%=form.username%>"<%}%>  style="padding-left: 20px;">
                </div>

                <div class="form-group">
                    <input required type="text" placeholder="验证码" name="code"  style="padding-left: 20px;">
                    <div class="send-btn" id="send-code">发送</div>
                </div>
                <div class="form-group">

                    <input required type="password" placeholder="密码" name="password" <%if (action == 'reform') {%>value="<%=form.password%>"<%}%> style="padding-left: 20px;">
                </div>
            </div>
            <div class="y-lar-btn">
                <div class="m-bg">
                    <div class="btn-box" id="register-form-submit">注册</div>
                </div>
            </div>
        </form>
    </div>
    <script src="/thirdparty/validate/validate.min.js"></script>
    <script src="/thirdparty/pupload/plupload.full.min.js"></script>
    <script src="/thirdparty/qiniu/qiniu.min.js"></script>
    <script src="/js/register.js"></script>
<!--
<% include footer.ejs %>-->
