<% include header.ejs %>
<div class="header-panel">
    <header class="header">
        <h1><%= teacher.name %> 讲师</h1>

    </header>
</div>
<div class="content teacher-detail-ct teacher-ct">
    <div class="teacher-panel anchor" data-href="/teachers/detail?id=1001">
        <div class="m-line">
            <div class="portrait">
                <div class="avatar">
                    <img src="<%= teacher.avatar %>" alt="avatar">
                </div>
            </div>
            <div class="name ">
                <div class="ellipsis">
                    <%= teacher.name %>

                    <div class="name-desc">
                        <%= teacher.manager.org %>
                    </div>
                </div>
                <p class="des-box ellipsis-three"><span class="description-ellipsis"><%= teacher.description %></span>
                </p>
            </div>
            <!--<div class="tags">

                <span class="tag-box purple-tag">测试分类</span>

            </div>-->
        </div>

    </div>

    <h3 class="title">所授课程</h3>
    <% var courses = findCoursesOfTeacher(teacher) %>

    <% for (var cid in courses){ %>
    <div class="teacher-class-panel anchor" data-href="/classes?course=<%= courses[cid].id %>">
        <div class="m-line" style="display: block;">
            <div class="profile">
                <h3><%=courses[cid].name%><span class="shiting-g">试听</span>
                    <div class="right" style="float: right;">
                        <span class="price">￥<span class="num"><%= courses[cid].lowprice %></span></span>
                        <span>起</span>
                    </div>
                </h3>
                <p class="date"><span style="color:#8a919b;">日期：</span><%= courses[cid].datedesc %></p>

            </div>
            <p class="des-box ellipsis-three"><%= courses[cid].description %></p>
        </div>

    </div>
    <% } %>
</div>
<% include footer.ejs %>
<% var activeMenu = 'teacher' %>
<% include menu.ejs %>